/* Theme heavily inspired by https://github.com/simurai/duotone-dark-space-syntax*/
:root {
  --uno-1: #8b9ea2;
  --uno-2: #8686cb;
  --uno-3: #7272a1;
  --uno-4: #5b5b7b;
  --uno-5: #49495a;
  --uno-6: #2b2b36;
  --uno-7: #24242d;
  --uno-8: #1d1d24;

  --duo-1: #fe7734;
  --duo-2: #b06845;
  --duo-3: #644c40;

  --max-w: 80ch;
  --fs: 1.3rem;
  --flag-w: 20ch;
  --flag-extended: flex;
  --flag-short-padding: 0;
}

/* dynamic resizing */
@media (max-width: 50em) {
  :root {
    --max-w: 80%;
  }
}

@media (orientation: portrait) {
  :root {
    --max-w: 80%;
    --fs: 1.4rem;
    --flag-w: 5ch;
    --flag-extended: none;
    --flag-short-padding: 0 0.5ch;
  }
}

* {
  background: var(--uno-8);
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  color: var(--uno-1);
  font-size: var(--fs);
}

body {
  display: flex;
  flex-direction: column;
  max-width: var(--max-w);
  min-height: 95vh;
  padding: 1rem;
}

h2 {
  font-size: inherit;
  color: var(--duo-1);
}

.flag-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: var(--flag-w);
}

.flag-short {
  display: flex;
  padding: var(--flag-short-padding);
  background-color: var(--uno-6);
  margin: 0;
}

.flag-extended {
  display: var(--flag-extended);
  padding-right: 0.5ch;
  background-color: var(--uno-6);
  margin: 0;
}

.content > * {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.item-container > * {
  margin-top: 1ch;
}

a {
  color: var(--duo-1);
  text-decoration: none;
}

a:hover {
  color: var(--duo-2);
}

p {
  margin: 0;
}

ul {
  margin-left: 2ch;
  margin-bottom: 0;
  padding: 0;
}

.highlight {
  background-color: var(--uno-6);
}

footer {
  font-size: var(--fs);
  color: var(--uno-1);
  margin-top: auto;
}

.text-background {
  color: var(--uno-1);
}

.text-secondary {
  color: var(--uno-3);
}

.cursor {
  color: var(--duo-1);
}

.me-container {
  display: none;
}

.typeme {
  width: 27ch;
  animation: typing 1.5s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid var(--duo-2);
}

/* animation */
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 27ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* loading bar */
.progress-container {
  display: none;
  flex-direction: row;
  margin-top: 1ch;
  color: var(--uno-3);
}

.bar {
  color: inherit;
}
